.header{
    width: 100%;
    @include df();
}
.navbar{
    width: 100%;
    height: 86px;
    background: #000;
    @include df();
    &__collection{
        width: 50%;
        @include df(start, center);
        gap: 50px;
    }
    &__item{
        font-size: 32px;
        font-weight: 700;
        line-height: 24px;
        color: $bg-white;
    }
}
